<div class="mt-auto">
  <div class="mx-auto mb-6 mt-32 w-full max-w-3xl rounded-xl bg-base-300 px-4">
    <nav class="sticky top-0 flex px-1 py-2.5">
      <h1 class="font-serif text-lg font-bold text-base-content">
        © 2024 Balazs Hevesi. All rights reserved.
      </h1>
    </nav>
  </div>
</div>
