---
import Nav from "../components/nav.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Balazs Hevesi">
  <h1 class="mb-4 font-serif text-2xl">Hello,</h1>
  <p>
    I'm Balazs. I am a first year Computer-Science student at Linnaeus
    University (Växjö, Sweden) and I like building things for the web.
    <br />
    <br />
    Ever since i can remember I've always enjoyed creating things. When i was a child,
    building with legos was my favourite way to spend my time, later it swayed towards
    Minecraft, after that it became music production. Now for the past 2.5 years
    it's been programming.
    <br />
    <br />
    Other than that, i like to go gym.
  </p>
  <h2 class="mb-4 mt-14 font-serif text-xl">Recent blog posts:</h2>
  <div class="flex flex-col gap-5">
    <div class="rounded-lg border-l-8 border-base-200 pl-3">
      <div class="font-semibold">Pee Pee Poo Poo</div>
      <div class="text-semibold pl-2 text-sm italic">August 4 2024</div>
      <div class="pl-2">
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Doloribus,
        error ipsa! Fugiat consequuntur, repellat neque amet quisquam fuga
        adipisci.
      </div>
    </div>
    <div class="rounded-lg border-l-8 border-base-200 pl-3">
      <div class="font-semibold">Pee Pee Poo Poo</div>
      <div class="text-semibold pl-2 text-sm italic">August 4 2024</div>
      <div class="pl-2">
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Doloribus,
        error ipsa! Fugiat consequuntur, repellat neque amet quisquam fuga
        adipisci.
      </div>
    </div>
  </div>
  <h2 class="mb-4 mt-14 font-serif text-xl">Recent projects:</h2>
  <div class="flex flex-col gap-5">
    <div class="rounded-lg border-l-8 border-base-200 pl-3">
      <div class="font-semibold">Pee Pee Poo Poo</div>
      <div class="text-semibold pl-2 text-sm italic">August 4 2024</div>
      <div class="pl-2">
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Doloribus,
        error ipsa! Fugiat consequuntur, repellat neque amet quisquam fuga
        adipisci.
      </div>
    </div>
    <div class="rounded-lg border-l-8 border-base-200 pl-3">
      <div class="font-semibold">Pee Pee Poo Poo</div>
      <div class="text-semibold pl-2 text-sm italic">August 4 2024</div>
      <div class="pl-2">
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Doloribus,
        error ipsa! Fugiat consequuntur, repellat neque amet quisquam fuga
        adipisci.
      </div>
    </div>
  </div>
</Layout>
